[Unit]
Description=DrugsInspector_daemon
After=dbus.service
Requires=dbus.service

[Service]
Type=forked
WorkingDirectory=/home/pi/DrugsInspector/Server
Environment=PYTHONUNBUFFERED=1
OOMScoreAdjust=-1000
ExecStart=/usr/bin/python3 /home/pi/DrugsInspector/Server/srv.py
TimeoutSec=300
Restart=always
# CPUSchedulingPolicy=fifo
# CPUSchedulingPriority=80

[Install]
WantedBy=multi-user.target 